<nav>
	<ul>
		<li><a href="{{ .Site.BaseURL }}"><img src="/img/hal/wt/logo.svg" width="32" height="32"></a></li>
	</ul>
	<ul>
	<li><a href="/info/">info</li>
	<li>
	<details role="list">
		<summary aria-haspopup="listbox">aplikasi</summary>
		<ul role="listbox">
			<li><a href="">android</a></li>
			<li><a href="">ios</li>
			<li><a href="">kaios</li>
			<li><a href="">linux</li>
			<li><a href="">macos</li>
			<li><a href="">windows</li>
		</ul>
	</details>
	</li>
	<li><a href="/3t/">3T</a></li>
	</ul>
</nav>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="/img/hal/wt/logo.svg" width="32" height="32"></a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHP"><span class="navbar-toggler-icon"></span></button>

		<div class="collapse navbar-collapse" id="navHP">
			<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style='--bs-scroll-height: 100px;'>
				<li class="nav-item">
					<a class="nav-link active" href="/info/">info</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">aplikasi</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item">Android</a></li>
						<li><a class="dropdown-item">Java</a></li>
						<li><a class="dropdown-item">kaiOS</a></li>
						<li><a class="dropdown-item">Linux</a></li>
						<li><a class="dropdown-item">macOS</a></li>
						<li><a class="dropdown-item">Windows</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="/info/">tips trik tutorial</a>
			</ul>
		</div>
	</div>
	
</nav>
