<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "nav.html" . }}
        <!-- #PERBAIKI -->
        <div>
            <div>{{ .Title }}</h1>
            </div>
        </div>
            <div>
                <div>
                    {{ partial "sidebar-kiri.html" . }}
                </div>
                <div>
                     <article>
                        <div>
                            {{ .Content}}
                        </div>
                    </article>
                    <div>
                            <div>
                            <img src="{{ .Site.Author.image }}" width="32" height="32">
                            <a href="{{ .Site.Author.homepage }}"></a> @{{ .Site.Author.name }}
                         </div>
                        </div>
                        <div>
                            {{ partial "disqus.html" . }}
                        </div>
                </div>
                <div>
                    {{ partial "sidebar-kanan.html" . }}
                </div> 
            </div>
    
        {{ partial "footer.html" . }}
    </body>
</html>
